/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// POUR LES SNACKBAR DU SNACKBAR SERVICE

.mat-snack-bar-container {
  font-size: 1.2em;
  color: white;
}

.mat-simple-snackbar-action {
  font-size: 0.9em;
  color: white;
}

.snackbar-error {
  background-color: #e64545;
}

.snackbar-success {
  background-color: #368e3f;
}

.snackbar-warning {
  background-color: #ee7e06;
}